# Exam 
## Exercice 2

In [1]:
import pandas as pd
import numpy as np
import myhelpers.preprocessing as prepro
import myhelpers.visualisation as viz

In [2]:
df_visits = pd.read_csv("visits.csv")
df_vehicles = pd.read_csv("vehicles.csv")

In [3]:
df_visits.head()

,id_veh,date,country,brand,dealer_id,mileage_km,client_amount
0,74cafe94426a7c6ec045df5221f2be62,2019-03-05,FR,PEUGEOT,79aa5331b115415d12fead30d19004ab,41460.0,125.53
1,84e38dbe5929b7282921293bf8e43e14,2018-04-10,FR,PEUGEOT,84e59a56e610f5febbd26fdfa83ea96d,13372.0,0.00
2,18b782a6633885368542a3532f45201a,2017-10-18,FR,PEUGEOT,9c84f3117d821977a8570f9f6c335fc5,12601.0,0.00
3,d03fbb36360fa44aea10f8bb558e2150,2018-10-18,FR,PEUGEOT,050ad488d73415f8f74f255d9cd48ef9,26887.0,0.00
4,52c19bb214abdcf2fa86c9d163fc9adc,2017-10-24,FR,PEUGEOT,21354d33d13f120a44d7a839c79ffc95,10684.0,0.00

In [4]:
df_vehicles.head()

,id_veh,brand,model,segment,registration_date
0,1cb0d81b6752d3589bf1e316e70d3716,PEUGEOT,308,C,2017-03-24 00:00:00
1,22007b293588cf266de0626eb84bb374,PEUGEOT,308,C,2017-11-14 00:00:00
2,a2f5f4a15024227d2b519296c1c38a13,PEUGEOT,208,B,2018-06-01 00:00:00
3,bcf528ff2dc2676f200827c22c3c4607,PEUGEOT,308,C,2017-12-01 00:00:00
4,a875f521d7fad145fccf433804f4af8f,PEUGEOT,2008,B,2016-03-22 00:00:00

In [5]:
#data = pd.merge(df_visits.drop('brand', axis=1), df_vehicles, left_on='id_veh', right_on='id_veh', how='left')

Combien de véhicules sont présents dans les deux datasets ? Combien de véhicules
distincts ?

In [12]:
df_vehicles['id_veh'].nunique()

184067

In [10]:
df_visits['id_veh'].nunique()

182178

In [64]:
n_veh = max(df_vehicles['id_veh'].nunique(), df_visits['id_veh'].nunique())
n_veh

184067

 Combien de véhicules ont été mis en circulation chaque année ?

In [24]:
df_vehicles['year'] = df_vehicles['registration_date'].apply(lambda x: x.split('-')[0])

In [26]:
df_vehicles.groupby('year').nunique()[['id_veh']]

      id_veh
year
2015   27788
2016   55166
2017   53397
2018   38049
2019    9669

 Combien de marques diérentes de véhicules contiennent les deux datasets ?

In [32]:
df_vehicles['brand'].nunique()

3

In [30]:
df_visits['brand'].nunique()

3

In [33]:
df_visits['brand'].unique()

array(['PEUGEOT', 'CITROEN', 'DS'], dtype=object)

Top 5 id_veh ayant eectué le plus de visites

In [50]:
df_visits.groupby('id_veh').count().sort_values(by='date',ascending=False).head()

,date,country,brand,dealer_id,mileage_km,client_amount
id_veh,,,,,,
60854a8b74b0f914c57fb59ab74bca08,96,96,96,96,96,96
3dd91066c952b3e8753fd9bf8aa52df3,96,96,96,96,93,96
7c6dbe1c42b4467c13fdb69d7f19870c,74,74,74,74,74,74
a4d9525abe19316d75625413278dcdd8,66,66,66,66,66,66
76ce03fdfe4eb0ef3829ff770076e66a,43,43,43,43,43,43

Top 5 dealer_id ayant reçu le plus de visites

In [51]:
df_visits.groupby('dealer_id').count().sort_values(by='date',ascending=False).head()

,id_veh,date,country,brand,mileage_km,client_amount
dealer_id,,,,,,
8002ff83402f7062af83c861f90d94da,15843,15843,15843,15843,15705,15843
401d8f5bdcb33b19de1a5b67f3af60f1,13660,13660,13660,13660,13347,13660
d4895cafaf18aecb1b57b3a527a2d10c,11688,11688,11688,11688,11688,11688
a8f718ad8d09eb14f37130d1ee598568,11606,11606,11606,11606,11606,11606
78184dc764ce1b59a0260a6a05c6e415,10467,10467,10467,10467,10467,10467

Quelle est la proportion de véhicules ayant eectué une visite lors des 18 derniers
mois (entre le 01/03/2018 et le 01/09/2019)

In [56]:
df_visits['date'] = pd.to_datetime(df_visits['date'])

In [58]:
start_date = '01/03-2018'
end_date = '01/09/2019'
mask = (df_visits['date'] > start_date) & (df_visits['date'] <= end_date)

In [65]:
visite_18 = df_visits.loc[mask]['id_veh'].nunique()
visite_18

111587

In [67]:
visite_18/n_veh*100

60.623034003922484

Data preprocessing

Feature engineering